<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/"><img src="/images/logo.png" alt="TINY" /></a><a href="/users"><img src="/images/users.png" alt="TINY" /></a>
    <h1><%= title %></h1>

    <p>
        <table id="users">
          <thead>
            <th>Name</th><th>Phone</th>
          </thead>
          <% data.forEach(function(item) { %>
              <tr><td><%= item.name %></td><td><%= item.phone %></td></tr>
          <% }); %>
        </ul>
    </p>
  </body>
</html>
